.container{
    margin-left: 00px;
}
.page__container{
    z-index: 0;
}
.up-text2{
    display: none;
}
.offer-block{
    width: 100%;
    padding-top: 24px;
}
.img-cont{
    margin-top: 70px;
}
.frame{
    display: flex;
    flex-direction: column;
    gap: 0;
    height: 100%;
    width: 100%;
    flex-grow: 1;
}
.card-content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.world-btn{
    height: 43px;
    width: 126px;
    background-color: $headerBackground;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    font-weight: 500;
}
.world-btn:focus{
    background-color: $colorClick;
    color: #F4F6F5;
}
.offer__container{
    padding: 0;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    align-items: center;
    .offer__bird{
        width: 48.7%;
        height: 43.13vw;
        max-height: 621px;
    }
}
.offer__text-block{
    display: flex;
    flex-direction: column;
    justify-content: end;
    .text-title{
        font-size: 60px;
        max-width: 540px;
        line-height: 110%;
        font-weight: 500;
        .span{
            color: $colorHeaderInk;
        }
    }
    .text{
        font-size: 18px;
        max-width: 540px;
        margin-top: 24px;
        line-height: 150%;
        color: $colorAfter;
        font-weight: 500;
    }
    .text-btn{
        width: 227px;
        cursor: pointer;
        height: 60px;
        margin-top: 74px;
        align-items: center;
        justify-content: center;
        display: flex;
        font-weight: 500;
        font-size: 20px;
        background-color: transparent;
        color: $colorHeaderInk;
        border: 1px $colorHeaderInk solid;
        transition: all 1s ease;
    }
    .text-btn:hover{
        background-color: $colorHeaderInk;
        color: #fff;
    }
}
.card{
    display: flex;
    flex-direction: column;
    background-color: $headerBackground;
    padding: 20px;
    padding-bottom: 30px;
    font-size: 18px;
    button{
        align-items: center;
    }
    img{
        width: 100% !important;
        max-height: 100vw !important;
    }
}
.f{
    margin-left: 0;
}
.card-light-text{
    margin-top: 20px;
    color: $colorAfter;
}
.card-name{
    margin-top: 10px;
    font-size: 30px;
    font-weight: 500;
}
.img-down{
    gap: 20px;
}
.card-type{
    margin-top: 8px;
}
.card-price{
    font-size: 24px;
    color: $colorHeaderInk;
    font-weight: 500;
    padding-bottom: 20px;
    margin-top: auto;
    padding-top: 30px;
}
.noned{
    display: none !important;
}
.card-btn{
    width: 100%;
    height: 65px;
    font-weight: 500;
    background-color: transparent;
    margin-top: 0;
    align-items: end;
    color: $colorHeaderInk;
    border: 2px solid $colorHeaderInk;
}
.img-down{
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    grid-auto-flow: row;
    grid-gap: 30px;
    margin-top: 31px;
    padding-bottom: 20px;
}
.img-up{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    gap: 30px;
    flex-wrap: wrap;
}
.world{
    display: flex;
    gap: 30px;
}
.up-text{
    font-size: 40px;
}
.card-price{
    font-size: 24px;
    color: $colorHeaderInk;
    font-weight: 500;
    margin-top: 30px;
    padding: 0;
}
.card-btn{
    width: 100%;
    height: 65px;
    font-size: 20px;
    font-weight: 500;
    color: $colorHeaderInk;
    margin: 0 auto;
    margin-top: 20px;
    cursor: pointer;
    border: 2px solid $colorHeaderInk;
}
.card-type{
    font-weight: 500;
    padding-top: 8px;
    margin-top: auto;
}
.card-btn:hover{
    background-color: $colorHeaderInk;
    color: #F4F6F5;
    transition: all 0.5s ease;
}
@media screen and (max-width: 768px) {
    .offer__container{
        .offer__bird{
            width: 45.4%;
            height: 49.6vw;
        }
    }
    .offer-block{
        padding-top: 10px;
    }
    .offer__text-block{
        justify-content: start;
        max-width: 330px;
        .text{
            max-width: auto;
            font-size: 18px;
            margin-top: 7px;
        }
        .text-title{
            max-width: auto;
            font-size: 40px;
            line-height: 100%;
        }
        .text-btn{
            margin-top: 44px;
            width: 210px;
        }
    }
    .card{
        font-size: 18px;
    }
    .img-down{
        grid-template-columns: repeat(2, 1fr);
    }
    .up-text{
        font-size: 30px;
    }
    .card-price{
        font-size: 24px;
        color: $colorHeaderInk;
        font-weight: 500;
        padding-bottom: 0;
        padding: 0;
        margin-top: 0;
        padding-top: 30px;
    }
    .card-btn{
        width: 100%;
        height: 50px;
        font-weight: 500;
        display: flex;
        margin-top: auto;
        align-items: center;
        justify-content: center;
        color: $colorHeaderInk;
        margin-top: 10px;
        border: 2px solid $colorHeaderInk;
    }
    .card-type{
        margin-top: auto;
    }
}
@media screen and (max-width: 576px) {
    .offer__text-block{
        justify-content: start;
        .text{
            max-width: 285px;
            line-height: 150%;
            font-size: 16px;
            margin-top: 10px;
        }
        .text-title{
            max-width: 285px;
            font-size: 36px;
        }
        .text-btn{
            width: 178px;
            height: 50px;
            font-size: 18px;
            margin-top: 11px;
        }
    }
    .offer-block{
        padding-top: 50px;
    }
    .offer__container{
        gap: 0;
        .offer__bird{
            width: 37%;
            height: 41.6vw;
        }
    }
    .card-name{
        font-size: 24px;
    }
    .card-price{
        font-size: 20px;
    }
    .card-btn{
        font-size: 16px;
        height: 50px;
    }
    .card{
        img{
            max-height: 250px;
        }
    }
    .card-price{
        font-size: 24px;
        color: $colorHeaderInk;
        font-weight: 500;
        padding-bottom: 0;
        padding: 0;
        margin-top: 0;
        padding-top: 30px;
    }
    .card-btn{
        width: 100%;
        height: 50px;
        font-weight: 500;
        display: flex;
        margin-top: auto;
        align-items: center;
        justify-content: center;
        color: $colorHeaderInk;
        margin-top: 10px;
        border: 2px solid $colorHeaderInk;
    }
    .card-type{
        margin-top: auto;
    }
}
@media screen and (max-width: 690px) {
    .img-up{
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }
    .up-text{
        font-size: 24px;
    }
    .world-btn{
        width: 115px;
    }
}
@media screen and (max-width: 425px) {
    .offer__text-block{
        .text{
            font-size: 14px;
            margin-top: 20px;
        }
        .text-title{
            font-size: 30px;
        }
        .text-btn{
            font-size: 18px;
            margin-top: 40px;
            width: 154px;
        }
    }
    .offer-block{
        padding-top: 60px;
    }
    .offer__container{
        flex-direction: column-reverse;
        align-items: start;
        gap: 20px;
        padding: 0;
        .offer__bird{
            width: 100%;
            height: 100vw;
        }
    }
    .card{
        width: 100%;
        img{
            height: 250px;
        }
    }
    .up-text2{
        display: block;
        font-size: 24px;
        font-weight: 500;
        padding-bottom: 20px;
    }
    .up-text{
        display: none;
    }
    .card-light-text{
        margin-top: 20px;
        color: $colorAfter;
    }
    .card-name{
        margin-top: 10px;
        font-size: 30px;
        font-weight: 500;
    }
    .img-down{
        gap: 20px;
        padding-bottom: 20px;
        justify-content: center;
        grid-template-columns: repeat(1, 1fr);
    }
    .card-type{
        margin-top: 8px;
    }
    .card-price{
        margin-top: 30px;
        font-size: 24px;
        color: $colorHeaderInk;
        font-weight: 500;
        padding-bottom: 0;
        padding: 0;
    }
    .card-btn{
        width: 100%;
        height: 50px;
        font-weight: 500;
        display: flex;
        align-items: center;
        margin-top: 10px;
        justify-content: center;
        color: $colorHeaderInk;
        border: 2px solid $colorHeaderInk;
    }
    .img-up{
        z-index: 1;
        width: 100%;
        padding: 0;
        padding-bottom: 10px;
        overflow: auto;
    }
    .world{
        gap: 20px;
    }
}
.active{
    background-color: $colorClick;
    border: 2px solid $colorClick;
    color: #F4F6F5;
}
.world-btn{
    cursor: pointer;
}
.world-btn:hover{
    background-color: $colorClick;
    color: #F4F6F5;
    transition: all 0.5s ease;
}