.footer{
    height: 150px;
    background-color: $headerBackground;
    padding-top: 30px;
}
.footer__container{
    margin: 0 auto;
    display: flexbox;
    align-items: center;
}
.foot{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.block-one{
    gap: 100px;
    display: flex;
    align-items: start;
}
.logo{
    align-items: center;
    display: flex;
    gap: 10px;
}
.logo-name{
    font-weight: 764;
    color: $colorHeaderInk;
}
.block-cont{
    display: flex;
    gap: 40px;
    align-items: start;
    margin-top: 10px;
    position: relative;
}
.light{
    font-size: 12px;
    color: $colorAfter;
    margin-top: 7px;
}
.block-three{
    display: none;
}
.block-three2{
    margin-top: 40px;
    position: absolute;
    margin-left: -210px;
}
.block-two{
    display: flex;
    margin-top: -25px;
    text-align: start;
    align-items: start;
    position: relative;
}
.img-sot{
    height: 20px;
}
.href{
    font-size: 9px;
    color: $colorAfter;
}
@media screen and (max-width: 768px) {
    .footer{
        height: 200px;
    }
    .block-three{
        display: none;
    }
    .block-cont{
        margin-top: 30px;
    }
    .block-two{
        margin-top: 60px;
    }
    .block-three2{
        display: block;
        margin-top: 10px;
        position: absolute;
        justify-content: end;
        text-align: end;
        width: 89.5vw;
    }
}
@media screen and (max-width: 576px) {
    .footer{
        height: 330px;
    }
    .footer__container{
    }
    .block-three{
        display: none;
    }
    .block-one{
        margin-left: -6px;
    }
    .block-cont{
        margin-top: 30px;
    }
    .block-two{
        // margin-top: 200px;
        // text-align: center;
        // display: flex;
        // justify-content: center;
        // width: 92.5vw;
        // position: absolute;
        display: flexbox;
        text-align: center;
        position: absolute;
        margin-left: 0px;
        width: 90%;
        margin-top: 180px;
        justify-content: center;
        border-top: 1px solid $colorAfter;
        justify-content: center;
        margin-left: -2px;
        padding-bottom: 10px;
        padding-top: 20px;
    }
    .block-cont{
        display: flex;
        justify-content: space-between;
        width: 90vw;
    }
    .b2{

    }
    .b3{
    }
    // .block-two::after{
    //     content: '';
    //     height: 1px;
    //     width: 100%;
    //     margin-left: -15px;
    //     margin-top: -20px;
    //     position: absolute;
    //     background-color: $colorAfter;
    // }
    .block-three2{
        display: block;
        margin-top: 10px;
        position: absolute;
        justify-content: end;
        text-align: end;
        width: 90.4vw;
    }
    .href1{
        display: flex;
        gap: 10px;
    }
}
@media screen and (max-width: 370px) {
    .footer{
        height: 400px;
    }
    .block-two{
        margin-top: 270px;
    }
    .block-three2{
        text-align: start;
        margin-top: 65px;
    }
    .foot{
        width: 200vw;
    }
    .block-two{
        width: 91.5vw;
        margin-left: -5px;
    }
    .footer__container{
        justify-content: center;
    }
    .b1{
        position: absolute;
        justify-content: end;
        margin-left: 60vw;
    }
    .b2{
        position: absolute;
        margin-top: 100px;
        margin-left: 6px;
    }
    .logo{
        margin-left: 5px;
    }
    .b3{
        position: absolute;
        margin-top: 100px;
        justify-content: end;
        margin-left: 60vw;
    }
}
@media screen and (max-width: 240px) {
    .b1{
        padding-left: 20px;
    }
    .b3{
        padding-left: 20px;
    }
}