.header{
    height: 100px;
    background-color: $headerBackground;
    display: flex;
    align-items: center;
}
.header__container{
    width: 1000px;
    margin: 0 auto;
}
html.lock{
    overflow: hidden;
}
.head{
    display: flex;
    .logo{
        display: flex;
        align-items: center;
        text-align: start;
        width: 200%;
        &__name{
            font-weight: 760;
            color: $colorHeaderInk;
            position: relative;
            margin-left: 10px;
        }
    }
    .links{
        display: flex;
        text-align: right;
        align-items: center;
        margin-top: -20px;
        .items{
            text-decoration: none;
            color: black;
            gap: 60px;
            margin-right: 50px;
        }
        .i3{
            width: 40px;
            margin-right: 50px;
        }
        .i4{
            margin: 0;
        }
    }
}
.logo .links{
    text-align: end;

    margin-top: -20px;
}
.menu-btn{
    display: none;
}
.i-1{
    visibility: hidden;
    display: none;
}
@media screen and (max-width:576px) {
    .header{
        height: 130px;
    }
    .head{
        width: 100%;
        display: flexbox;
        justify-content: center;
        text-align: center;
        justify-content: center;
        .logo{
            display: flexbox;
            text-align: center;
            position: absolute;
            margin-left: 0px;
            width: 80%;
            margin-top: 20px;
            border-bottom: 1px solid $colorAfter;
            justify-content: center;
            padding-bottom: 10px;
        }
        .links{
            display: flexbox;
            text-align: center;
            align-items: center;
            height: 60px;
            width: 100%;
            margin-top: 40px;
            margin-left:-10px;
            .i3{
                margin: 0;
                width: 85vw;
                width: 0px;
            }
            .items{
                margin-right: 20px;
                padding: 0;
                width: 100%;
            }
            .i4{
                display: flexbox;
                text-align: end;
                margin-right: -20px;
            }
        }
        .nav .i4{
            justify-content: end;
            text-align: end;
        }
    }
    .head .links .items{
        width: 20vw;
        font-size: 12px;
        margin-left: -20px;
        padding-left: 25px;
        text-align: start;
    }
    .head .links{
    position: relative;
    }
    .head .links .i3{
        width: 32vw;
    }
    .head .links .i2{
        margin-left: 0px;
    }
    .head .links .i4{
        text-align: end;
    }
}
@media screen and (max-width:355px) {
    .head{
        .logo{
            width: 80%;
        }
        .links{
            .i4{

                margin-left: -20px;
            }
            .i3{
                margin-left: -20px;
            }
        }
    }
}
.i-1{
    display: none;
}
@media screen and (max-width: 320px) {
    .head{
        .i-1{
            display: block;
            opacity: 1;
            position: absolute;
            margin-top: -35px;
            align-items: center;
            order: 1;
            margin-left: 110px;
            z-index: 1000;
        }
        .logo{
            border: none;
            background-color: white;
            width: 100%;
            margin-left: -50px;
            margin-top: -5px;
            height: 55px;
            z-index: 10000000000000000000000000;
            text-align: center;
            margin-left: 0px;
            &__name{
                margin-top: 10px;
                margin-left: 10px;
            }
            &__img{
                margin-top: 10px;
            }
        }
        .links{
            text-align: start;
            justify-content: start;
            align-items: start;
            position: fixed;
            width: 320vw;
            height: 100%;
            .i3{
                margin-left: 20px;
                width: 90px;
                margin-top: 40px;
            }
            .i-1{
                margin-top: -90px;
            }
            .items{
                font-size: 26px;
            }
        }
        // .links{
        //     background-color: $headerBackground;
        //     margin-left: -20px;
        //     align-items: start;
        //     display: flex;
        //     z-index: -1;

        // }
        .i4{
            opacity: 0;
        }
    }
    .i-1{
        display: flex;
        visibility: visible;
    }
    .menu-btn {
        display: flexbox;
        /* align-items: center; */
        /* text-align: end; */
        /* justify-content: end; */
        width: 25px;
        height: 45px;
        margin-top: 50px;
        margin-left: -180px;
        padding: 0;
        background-color: transparent;
        /* border: 1px 0 0 0 solid white; */
        cursor: pointer;
        position: relative;
        border-radius: 20%;
        margin-left: 280px;
        margin-left: -140px;
        border: 0;
        z-index: 20000;
        border-radius: mixed;
        display: flex;
        flex-direction: column;
        text-align: start;
        align-items: start;
    }
    .header{
        height: 100px;
    }

    .btn-line {
        position: absolute;
        margin-top: 5px;
        width: 60%;
        background-color: #000000;
        height: 2px;
        transition: 1s;
        z-index: 2051;
        border-radius: 25px;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 5px;
    }

    .btn-line:nth-child(1) {
        top: 10px;
    }

    .btn-line:nth-child(2) {
        top: 17px;
    }

    .btn-line:nth-child(3) {
        top: 17px;
    }

    .btn-line:nth-child(4) {
        top: 25px;
        /* height: 1px; */
    }

    .menu-open .btn-line {
        /* border: 2px solid white; */
    }

    .menu-open .menu-btn .btn-line:nth-child(1) {
        transform: scale(0);
        border-radius: 50%;
        background-color: #000;
    }

    .menu-open .menu-btn .btn-line:nth-child(2) {
        transform: rotate(45deg);
        /* border: 2px solid white; */
        border-radius: 50%;
        /* background-color: #000; */
    }

    .menu-open .menu-btn .btn-line:nth-child(3) {
        transform: rotate(-45deg);
        /* border: 2px solid white; */
        border-radius: 50%;
        /* background-color: #000; */
    }

    .menu-open .menu-btn .btn-line:nth-child(4) {
        transform: scale(0);
        /* border: 2px solid white; */
        border-radius: 50%;
        background-color: #000;
    }

    .telefone {
        /* display: none; */
        z-index: 56;
    }

    .links {
        position: fixed;
        left: 0;
        top: -100vh;
        height: 100vh;
        background-color: $headerBackground;
        padding: 190px 20px;
        /* transform: translateY(-100%); */
        z-index: 50;
        width: 100%;
        transition: all 0.3s;
        font-size: 10px;
        display: block;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        .i3{
            padding-left: 0px;
            margin-left: 20px;
            position: relative;
        }
        padding: 0;
        padding-top: 40px;
    }

    .items {
        padding: 0px 0 20px;
        font-size: 26px;
        margin-left: 0px;
        margin-bottom: 0px;
        align-items: center;
        width: 400px;
    }
    .links .items:nth-child(3){
        margin-top: 0px;
        margin-left: 0px;
        margin-top: 40px;
        width: 100%;
    }
    .links .items:nth-child(2){
        margin-top: 40px;
        margin-left: 25px;
        width: 100%;
        padding-left: 0;
    }
    .links .items:nth-child(1){
        margin-top: 40px;
        margin-left: 24px;
        width: 100%;
        padding-left: 0;
    }

    .telefone {
        z-index: 511;
    }

    .menu-open .links {
        top: 0px;
        height: 100vh;
    }


    .img {
        z-index: 0;
    }
    .menu-open .links{
        z-index: 20000000;
    }
    .menu-open .i-1{
        display: none;
    }
    .menu-open .menu-btn{
        z-index: 900000000000000000000000000000000000000000;
    }
    .btn-line{
        padding: 0;
    }
}